<h3>Level 2</h3>
<p>You spot a crab in the room. This one is much larger, and can do quite a bit of damage if you're not careful. But it's no match for you.</p>
<p>Use <code>warrior.check()</code> to check what's in the next step. Use <code>warrior.check() == "enemy"</code> to spot the crab, and <code>warrior.attack()</code> to kill it.</p>
<div class="alert alert-info">
<p>Note: The code required to complete this level is already filled up, to give you an idea of how to use it. Just Click <i>Run</i> to see it in action!</p>
</div>
