<h3>Level 1</h3>
<p>You wake up in a strange corridor. There's a door at the end of the hallway. Walk over to it.</p>
<p>JSWarrior is a turn based game. You make one action (moving, attacking, etc) each turn by making decisions with code you write in the <code>jsWarrior.turn</code> function.</p>
<p>Call <code>warrior.walk()</code> to walk forward in the <code>jsWarrior.turn</code> function.</p>
<p>Note: The code required to complete this level is already filled up, to give you an idea of how to use it. Just Click <i>Run</i> to see it in action!</p>
