/* disable responsiveness */
.container {
  max-width: none !important;
  width: 1170px;
}

#canvas {
    height: 200px;
    background: #98CAFF;
}

.warrior {
    background: url('/static/images/warrior.png');
    background-size: 36px 60px;
    position: absolute;
    left: 20px;
    top: 90px;
    width: 36px;
    height: 60px;
    margin: 0 40px; 
}

.warrior-attack {
    background: url('/static/images/warrior_attack.png');
    background-size: 51px 60px;
    width: 51px;
    height: 60px;
}

.warrior-rest {
    background: url('/static/images/warrior_rest.png');
    background-size: 50px 60px;
    width: 50px;
    height: 60px;
    background-repeat: no-repeat; 
}

.diamond {
    background: url('/static/images/captive.png');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    position: absolute;
    top: 100px;
    width: 40px;
    height: 40px;
    margin: 20px 40px; 
}

.crab {
    background: url('/static/images/crab.png');
    background-size: 55px 25px;
    position: absolute;
    left: 20px;
    top: 100px;
    width: 55px;
    height: 25px;
    margin: 20px 40px;
}

.troll {
    background: url('/static/images/troll.png');
    background-size: 66px 78px;
    position: absolute;
    left: 20px;
    top: 80px;
    width: 66px;
    height: 78px;
    margin: 0 20px;
}

.troll-attack {
    background: url('/static/images/troll_attack.png');
    background-size: 66px 78px;
    position: absolute;
    left: 20px;
    top: 80px;
    width: 66px;
    height: 78px;
}

.javaliner {
    background: url('/static/images/archer_normal.png');
    background-size: 90px 75px;
    position: absolute;
    left: 20px;
    top: 80px;
    width: 90px;
    height: 75px;
}

.javaliner-with-javelin {
    background: url('/static/images/archer_with_arrow.png');
    background-size: 90px 75px;
    width: 90px;
    height: 75px;
    top: 80px;
}

.javaliner-shoot {
    background: url('/static/images/archer_shoot.png');
    background-size: 90px 75px;
    width: 90px;
    height: 75px;
    top: 80px;
}

.cell {
    background: url('/static/images/cell.png');
    position: absolute;
    border: 1px solid #000;
}

.pivoted {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.health {
    background: url('/static/images/heart.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 26px;
    position: absolute;
    height: 20px;
    width: 20px;
    left: 0px;
    top: 0px; 
    color: #fff;
}

.javelin {
    position: absolute;
    background: url('/static/images/javelin.png');
    background-size: 52px 6px;
    width: 52px;
    height: 6px;
    top: 100px;
}


#console {
    height: 400px;
    overflow: scroll;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

#console p {
    padding: 0;
    margin: 0;
}

#apidocs {
    height: 400px;
    overflow: scroll;
}

.target {
    position: absolute;
    background: url('/static/images/target_board.png');
    background-size: 96px 48px;
    width: 96px;
    height: 48px;
    top: 20px;
    margin-left: 40px; 
    -webkit-animation: float 2s linear infinite;
}

@keyframes float {
    0%, 100% {
        top: 20px;
    }
    50% {
        top: 60px;   
    }
}

@-webkit-keyframes float {
    0%, 100% {
        top: 20px;
    }
    50% {
        top: 60px;   
    }
}

.textareaContainer {
    border: 1px solid #d0d0d0;
}

