#canvas {
    height: 400px;
    background: #242424;
}

.warrior {
    background: url('/static/images/warrior.png');
    background-size: 36px 60px;
    position: absolute;
    left: 20px;
    top: 300px;
    width: 36px;
    height: 60px;
}

.warrior-attack {
    background: url('/static/images/warrior_attack.png');
    background-size: 51px 60px;
    width: 51px;
    height: 60px;
}

.warrior-rest {
    background: url('/static/images/warrior_rest.png');
    background-size: 50px 60px;
    width: 50px;
    height: 60px;
    background-repeat: no-repeat; 
}

.captive {
    background: url('/static/images/captive.png');
    background-repeat: no-repeat;
    background-size: 38px 48px;
    position: absolute;
    top: 300px;
    width: 38px;
    height: 48px;
}

.captive-free {
    background: url('/static/images/captive_free.png');
}

.sludge {
    background: url('/static/images/crab.png');
    background-size: 55px 25px;
    position: absolute;
    left: 20px;
    top: 300px;
    width: 55px;
    height: 25px;
}

.thick-sludge {
    background: url('/static/images/troll.png');
    background-size: 66px 78px;
    position: absolute;
    left: 20px;
    top: 280px;
    width: 66px;
    height: 78px;
}

.troll-attack {
    background: url('/static/images/troll_attack.png');
    background-size: 66px 78px;
    position: absolute;
    left: 20px;
    top: 280px;
    width: 66px;
    height: 78px;
}

.archer {
    background: url('/static/images/archer_normal.png');
    background-size: 90px 75px;
    position: absolute;
    left: 20px;
    top: 280px;
    width: 90px;
    height: 75px;
}

.archer-with-arrow {
    background: url('/static/images/archer_with_arrow.png');
    background-size: 90px 75px;
    width: 90px;
    height: 75px;
    top: 280px;
}

.archer-shoot {
    background: url('/static/images/archer_shoot.png');
    background-size: 90px 75px;
    width: 90px;
    height: 75px;
    top: 280px;
}

.cell {
    position: absolute;
    background: #888;
    border: 1px solid #aaa;
}

.pivoted {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.health {
    background: url('/static/images/heart.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 26px;
    position: absolute;
    height: 20px;
    width: 20px;
    left: 0px;
    top: 0px; 
    color: #fff;
}

.javelin {
    position: absolute;
    background: url('/static/images/javelin.png');
    background-size: 52px 6px;
    width: 52px;
    height: 6px;
    top: 300px;
}