{% extends "layout.html" %}

{% block title %}JSWarrior{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-3"></div>
    <div class='col-xs-6'>
    	<div class='text-center'>
        <h3>The JavaScript Warrior</h3>
        <img src="/static/images/warrior.png" style="height:120px; width: 72px;"/>
    </div>
        <p>You're a good guy, and your objective is to get to the end of the levels. Simple, right? No. The only way you can control your character is through JavaScript. To beat JSWarrior you can't just mash buttons, you need to think up a strategy and program the strategy as a JavaScript function.</p>
        <p>But what's the point? Sure you will probably get a great intellectual thrill of having programmed some primitive AI within 30 minutes. There must be a reward of some sort. Usually it's a high score or rescuing a princess of some sort. But we don't care about scores, and it turns out princesses can handle themselves just fine, don't need rescuing, and can also play jsWarrior great!</p>
        <div class="alert alert-success">
        <p>If you complete JSWarrior, and show it to us at the FusionCharts stall in JSFoo 2013, we'll give you a cookie!! This is because you're just that awesome.</p>
	    </div>
        <p>Yes, it's a real cookie, the kind you can eat, not <code>document.cookie</code>) if you finish the game and happen to be in JSFoo. Simply show us the completed game, and we'll give you a cookie.</p>
        <p class='text-center'><a class="btn btn-lg btn-primary" href="{{startGameUrl}}">Start playing!</a></p>
        <p><small>Please note you will need a Google account to play. Your email will be private, used to verify when we give you the cookie. And we hate spam and unsolicited email more than you do.</small></p>
    </div>
</div>
<div class="row">
	<div class="col-xs-3"></div>
    <div class='col-xs-6'>
    	<div class="text-center">
        <h4>Credits</h4>
        <img src="/static/images/captive.png"/>
	    </div>
        <p>
        	<ul>
        		<li>Concept and level design from Ryan Bates' <a href="https://github.com/ryanb/ruby-warrior">Ruby Warrior</a></li>
        		<li>Web application concept from <a href="https://www.bloc.io/ruby-warrior/#/">Bloc.io</a></li>
        		<li>The free <a href="http://www.widgetworx.com/widgetworx/portfolio/spritelib.html">SpriteLib</a> sprite library for the graphics</li>
        	</ul>
        </p>
	    </div>
    </div>
</div>

{% endblock %}