{% extends "layout.html" %}

{% block title %}JSWarrior{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-3"></div>
    <div class='col-xs-6'>
    	<div class='text-center'>
        <h3>The JavaScript Warrior</h3>
        <img src="/static/images/warrior.png" style="height:120px; width: 72px;"/>
    </div>
        <p>Welcome to the JSWarrior Game. Unlike traditional games, you can't control your character through a keyboard or joystick. The only way you can control your character is through JavaScript. To beat JSWarrior you can't just mash buttons, you need to think up a strategy and program the strategy as a JavaScript function.</p>
        <p>But what's the point? Sure you will probably get a great intellectual thrill of having programmed some primitive AI within 30 minutes. But if you complete JSWarrior, and you are at JSFoo 2013, we'll give you a cookie!! Yes, it's a real cookie, the kind you can eat (a good one - the chewy kind), not <code>document.cookie</code>.</p>
        <p class='text-center'><a class="btn btn-lg btn-primary" href="{{startGameUrl}}">Start playing!</a></p>
    </div>
</div>
<div class="row">
	<div class="col-xs-3"></div>
    <div class='col-xs-6'>
    	<div class="text-center">
        <h4>Credits</h4>
        <img src="/static/images/captive.png"/>
	    </div>
        <div class="alert alert-info">
            <strong>Note:</strong> This game was built in a hackathon for <a href="http://jsfoo.in/">JSFoo 2013</a>, a JavaScript conference in Bangalore, India. Since a lot of people are enjoying it, we decided to keep it up for anyone to play.
        </div>
        <p>
        	<ul>
        		<li>Concept and level design from Ryan Bates' <a href="https://github.com/ryanb/ruby-warrior">Ruby Warrior</a></li>
        		<li>Web application concept from <a href="https://www.bloc.io/ruby-warrior/#/">Bloc.io</a></li>
        		<li>The free <a href="http://www.widgetworx.com/widgetworx/portfolio/spritelib.html">SpriteLib</a> sprite library for the graphics</li>
                <li><a href="http://ameen-ahmed.me/">Ameen</a> - Game Engine and Graphics</li>
                <li><a href="http://www.skyronic.com/">Anirudh</a> - Backend and Documentation</li>
        	</ul>
        </p>
        <p>Several people asked us to make this open-source and easily hostable to use as an interview screening tool. We will be doing so shortly, along with instructions to run it on Google App Engine for free.</p>
	    </div>
</div>

{% endblock %}