<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/static/css/codemirror.css" />
    <link rel="stylesheet" href="/static/css/jswarrior.css" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/codemirror-compressed.js"></script>
    <script type="text/javascript" src="/static/js/jsWarrior.js"></script>
    <script type="text/javascript" src="/static/js/warriorapp.js"></script>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <h2>JSWarrior <small>by FusionCharts</small></h2> 
            </div>
        </div>
        {% block content %}{% endblock %}
        <div class="row">
            <div class="col-xs-6 pull-right text-right" style='margin-top: 15px'>
                <img src="https://developers.google.com/appengine/images/appengine-silver-120x30.gif" 
alt="Powered by Google App Engine" />
                <a href="http://fusioncharts.com/careers/"><img src="http://www.fusioncharts.com/company/press-kit/images/fc_logo_300x60.gif" style="height: 30px; width: 150px"></img></a>
            </div>
        </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44199945-1', 'fusioncharts.com');
      ga('send', 'pageview');

    </script>
</body>