<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/static/css/codemirror.css" />
    <link rel="stylesheet" href="/static/css/jswarrior.css" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/codemirror-compressed.js"></script>
    <script type="text/javascript" src="/static/js/jsWarrior.js"></script>
    <script type="text/javascript" src="/static/js/warriorapp.js"></script>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <h2>JSWarrior <small>by FusionCharts</small></h2> 
            </div>
            <div class="col-xs-4 text-right" style="margin-top:25px">
                {% if loggedIn %}
                <p>Logged in as {{ nickName }}. <a href="{{logoutUrl}}">Logout</a></p>
                {% else %}
                <p><a href="{{loginUrl}}">Login</a></p>
                {% endif %}
            </div>
        </div>
        {% block content %}{% endblock %}
        <div class="row">
            <div class="col-xs-6 pull-right text-right" style='margin-top: 15px'>
                <img src="https://developers.google.com/appengine/images/appengine-silver-120x30.gif" 
alt="Powered by Google App Engine" />
                <a href="http://fusioncharts.com/careers/"><img src="http://www.fusioncharts.com/company/press-kit/images/fc_logo_300x60.gif" style="height: 30px; width: 150px"></img></a>
            </div>
        </div>
    </div>
</body>