{% extends "layout.html" %}

{% block title %}JSWarrior{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-3"></div>
    <div class='col-xs-6'>
    	<div class='text-center'>
        <h3>Congratulations!!!</h3>
        <img src="/static/images/warrior.png" style="height:120px; width: 72px;"/>
    </div>
    <p>You have completed JS Warrior! Please show this page at the FusionCharts stall in JSFoo to get your well-deserved cookie. We hope you enjoyed playing the game.</p>
    </div>
</div>
{% endblock %}